html {
  font-size: 40px;
  height: 100%;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
}

input,
button {
  font-family: 'Lato', sans-serif;
}

.background {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
